{% extends 'base.html'%}
{% set active_page = 'quiz_page'%}

{%block title%}
Quiz Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class=" container" style="width: 400px;">
        <form method="POST" class="form-register" style="color: white;"> <!--POST method allows the form to send data to database-->
            {{ card_form.hidden_tag() }} <!--To protect against CSRF attack-->
            <img class=" mb-4" src="https://cdn-icons-png.flaticon.com/512/3813/3813681.png" width="200" height="200" style="margin-top: 25px;"> 
            <!--https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1024px-ISO_C%2B%2B_Logo.svg.png-->
            <h1 class="h3 mb-3 font-weight-normal">
                Create a flashcard
            </h1>
            <br>

            {% if current_user.is_authenticated%}
                {{ card_form.key_phrase.label() }}
                {{ card_form.key_phrase(class="form-control", placeholder="Key Phrase") }} <!--form.username() can take html code as a attribute-->
                <br>
                {{ card_form.definition.label() }}
                {{ card_form.definition(class="form-control", placeholder="Definition") }}
                <br>
                {{ card_form.submit(class="btn btn-lg btn-block btn-primary mb-3") }}
                <br>
                <br>
                <br>
                <br>
            {% else %}
                <h1>Please log in first!</h1>
                <a class="btn btn-primary" href="{{ url_for('login_page')}}">Login</a>
            {% endif %}
        </form>
    </div>
</body>
{% endblock %}
