{% extends 'base.html' %}
{% set active_page = 'register_page' %}
{% block title %}
Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class=" container" style="width: 400px;">
        <form method="POST" class="form-register" style="color: white;"> <!--POST method allows the form to send data to database-->
            {{ form.hidden_tag() }} <!--To protect against CSRF attack-->
            <img class=" mb-4" src="https://cdn-icons-png.flaticon.com/512/3813/3813681.png" width="200" height="200" style="margin-top: 25px;">
            <h1 class="h3 mb-3 font-weight-normal">
                Please Create Your Account
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Username") }} <!--form.username() can take html code as a attribute-->
            <br>
            {{ form.email_address.label() }}
            {{ form.email_address(class="form-control", placeholder="Email Address") }}
            <br>
            {{ form.password1.label() }}
            {{ form.password1(class="form-control", placeholder="Password") }}
            <br>
            {{ form.password2.label() }}
            {{ form.password2(class="form-control", placeholder="Re-enter Passoword") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary mb-3") }}

            <div class="checkbox mb-3">
                <h6>Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page')}}">Login</a>
            </div>
            
            <br>
            <br>
            <br>
            <br>
        </form>
    </div>
</body>
{% endblock %}